<mat-grid-list>
  <mat-grid-tile>
    <h2>Search City Weather</h2>
    <form [formGroup]="wederResult"></form>
    <mat-form-field>
      City:
      <mat-icon>search</mat-icon>
      <input type="text" formControlName="city" placeholder="keyword" matInput>
      <button mat-button mat-raised-button color="accent">GET</button>
    </mat-form-field>
  </mat-grid-tile>

  
  <div>
    <mat-list-item>
      <h4 mat-line>
        current weather: {{ city.value }}
      </h4>
    </mat-list-item>
  </div>
