<div fxLayout="row" fxLayoutGap="20px">
  <div></div>
  <div>
    <mat-card >
      <mat-card-header>
        <mat-card-title>Search Your City Weather</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="" alt="Photo">
      <mat-card-content>
        <form [formGroup]="wederResult">
          <mat-form-field>
            <input matInput formControlName="city" placeholder="keyword">
          </mat-form-field>
        </form>
        <p>
          Temperature : {{results.temp}} F
        </p>
        <p>
          Humidity : {{results.humidity}}
        </p>
        <p>
          Pressure : {{results.pressure}}
        </p>
        <p>
          description : {{desc}}
        </p>
      </mat-card-content>

      <button mat-button><mat-icon>thumb_up</mat-icon></button>
      <button mat-button><mat-icon>share</mat-icon></button>
    </mat-card>
  </div>
  <div></div>
  <div></div>
</div>

<div>
  <router-outlet></router-outlet>
</div>